{% extends 'layout.html' %}
{% block content %}
{% if user.is_authenticated %}
<h2 align="center">สวัดดีคุณ {{request.user.username}}</h2>
{% if messages %}
<div class="alert alert-danger" role="alert">
{% for message in messages %}
    <b>{{message}}</b>
{% endfor %}
</div>
{% endif %}
<form action="Join" method="POST">
    {% csrf_token %}
    <div class="from-group">
        <label for="">รหัสนักศึกษา</label>
        <input type="text" class="form-control" name="username">
    </div>
        <label for="">รหัสคลาส</label>
        <input type="text" class="form-control" name="code">
    </div>
        <input type="submit" value="สมัครสมาชิก">
        <input type="submit" value="ยกเลิก">
</form>
{% endif %}
{% endblock %}